In [2]:
import csv
from pathlib import Path

In [3]:
csv_path = Path("budget_data.csv")

In [4]:
with open(csv_path, "r") as file:
    csv_file = csv.reader(file, delimiter = ",")
    
    headers = next(csv_file)
    #yield the first one so on the next for loop, it takes it out
    
    whole_list = []
    for x in csv_file:
        whole_list.append(x)
    #transferring all data to a list from the csv file

In [5]:
t_months = len(whole_list)
print(t_months)
#total months is lenght of whole list minus header

86

In [6]:
money_list = [row[1] for row in whole_list]
print(money_list)
#list for just second row of money

['867884', '984655', '322013', '-69417', '310503', '522857', '1033096', '604885', '-216386', '477532', '893810', '-80353', '779806', '-335203', '697845', '793163', '485070', '584122', '62729', '668179', '899906', '834719', '132003', '309978', '-755566', '1170593', '252788', '1151518', '817256', '570757', '506702', '-1022534', '475062', '779976', '144175', '542494', '359333', '321469', '67780', '471435', '565603', '872480', '789480', '999942', '-1196225', '268997', '-687986', '1150461', '682458', '617856', '824098', '581943', '132864', '448062', '689161', '800701', '1166643', '947333', '578668', '988505', '1139715', '1029471', '687533', '-524626', '158620', '87795', '423389', '840723', '568529', '332067', '989499', '778237', '650000', '-1100387', '-174946', '757143', '445709', '712961', '-1163797', '569899', '768450', '102685', '795914', '60988', '138230', '671099']

In [7]:
t_money = 0
for ele in range(0, len(money_list)):
    
    t_money = t_money + int(money_list[ele])
print(t_money)
#this for loop adds all values in that list of money

38382578

In [11]:
change_list = []
for ele in range(0, len(money_list)):
    current_change = int(money_list[ele]) - int(money_list[ele - 1])
    change_list.append(current_change)
#list is created with only the changes month to month

In [15]:
change_list

[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [13]:
change_list.pop(0)
#first item of list is erased given that a change month to month cannot have the first month as a corresponding month.

196785

In [14]:
print(change_list)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [18]:
avg_change = 0
t_change = 0
for ele in range(0, len(change_list)):
    t_change = t_change + int(change_list[ele])
    
avg_change = t_change/len(change_list)
print(avg_change)
#calculating the average change of profits/losses

-2315.1176470588234

In [22]:
changelist_int = []
int_value = 0
for ele in range(0, len(change_list)):
    int_value = (int(change_list[ele]))
    changelist_int.append(int_value)
print(changelist_int)
#changing previous list into all integers

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [29]:
greatest_profit = max(changelist_int)
print(greatest_profit)

1926159

In [30]:
lowest_profit = min(changelist_int)
print(lowest_profit)

-2196167

In [31]:
index_greatest = 0
index_lowest = 0
for ele in range(0, len(changelist_int)):
    if changelist_int[ele] == greatest_profit:
        index_greatest = ele
    if changelist_int[ele] == lowest_profit:
        index_lowest = ele
#getting the index position of greatest and lowest

In [33]:
print (index_lowest)

43

In [44]:
greatest_month = whole_list[index_greatest + 1][0]

In [45]:
lowest_month = whole_list[index_lowest + 1][0]
#using previous index position to correspond with month but adding 1 because previously we had taken out 1

In [48]:
with open("output.txt", "w") as f:
    print('Financial Analysis', file=f)
    print('--------------------------------------------', file=f)
    print('Total Months: ' + str(t_months), file=f)
    print('Total: $' + str(t_money), file =f)
    print('Greatest Increase in Profits: ' + greatest_month + ' ' + str(greatest_profit), file=f)
    print('Greatest Decrease in Profits: ' + lowest_month +' ' + str(lowest_profit), file=f)
#printing to an output file